    <% layout('/layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <a href="/campgrounds/new">Create New Campground</a>

    <% for(let campground of campgrounds) {%> 
        <li><a href="/campgrounds/<%= campground._id %> "><%= campground.title %></a> </li>
    <% } %> 
