    <% layout('/layouts/boilerplate') %>
    <h1><%= campground.title %> </h1>
    <h2><%= campground.location %> </h2>
    <a href="/campgrounds/<%= campground._id %>/edit ">Edit</a>
    <form action="/campgrounds/<%= campground.id %>?_method=DELETE " method="POST">
        <button>Delete</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
